[submodule "data"]
	path = data
	url = https://github.com/coin3d/soanydata
[submodule "src/Inventor/Gtk/common"]
	path = src/Inventor/Gtk/common
	url = https://github.com/famorcia/sogui.git
[submodule "cpack.d"]
	path = cpack.d
	url = https://github.com/coin3d/cpack.d
